body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}


nav {
	background: black;
}

a {
	display: inline-block;
	padding: 40px 20px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: rgb(253,119,34);
}