body {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	/*background: linear-gradient(white 65%, rgba(156,172,86,.2) 100%);*/
	font-family: 'Source Sans Pro', sans-serif;
}

a:visited {
	color: inherit;
}

a:hover {
	color: rgb(156,172,86);
}

.awards a {
	text-decoration: none;
}


nav a {
	text-decoration: none;
	color: black;
	padding: 0px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

nav {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255,255,255,.7);
}


.no-underline {
	text-decoration: none;
	color: black;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#homepageNav {
	width: 70%;
	margin: 0 auto;
	/*position: absolute;*/
}


header {
	text-align: center;
	/*margin-bottom: 20px;*/
}

#logo {
	width: 80px;
	padding-top: 10px;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
}


.sub-logo {
	font-size: 14px;
	margin: 5px 0px;
}

.mainPhoto img {
	/*overflow: hidden;*/
	width: 100%;

}

.mainPhoto {
	text-align: center;
	max-width: 825px;
	margin: 0 auto;
	/*display: relative;*/

}

.pageTitle h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	position: relative;
	color: rgb(156,172,86);
}

.pageTitle h1:before {
    border-top: 2px solid rgb(156,172,86);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;


    
}

.pageTitle span {
    background: white;
	padding: 0px 15px;
    }

span {
	padding: 0px;
}


.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

p {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.projectPhotos {
	display: inline-flex;
	margin-bottom: 20px;
	margin-top: 20px;
}

.project-photos img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

/*#fox-island img, #cape-charles img, #epping-forest img, #knc img, #brock-center img, #phillip-merrill img, #parks-and-people img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
*/

.slick-slide {
	padding: 2px;
}


.project {
	padding-bottom: 75px;
	padding-top: 50px;
	border-bottom: 1px solid rgb(207,207,207);
}

div:last-child {
	border-bottom: 0px;
	padding-bottom: 0px;
}

.about {
	color: rgb(156,172,86);
	text-decoration: underline;

}

.green {
	color: rgb(156,172,86);
}

.grey {
	color: rgb(130, 130, 130);
}




.profile-photo img {
	width: 30%;
}

.profile-photo , .map , .contact , .footer {
	text-align: center;
}


.about-text p {
	margin: 20px 0px;
}

.awards {
	padding-top: 20px;
}

.map img {
	width: 40%;
	position: relative;
	margin: 20px 0px;
}

footer p {
	color: rgb(178,178,178);
	font-size: 12px;
}

footer {
	text-align: center;
	border-top: 1px rgb(207,207,209) solid;
	padding-top: 25px;
	margin-top: 100px;
	margin-bottom: 30px;
}

.footer-logo {
	width: 75px;
}

.hidden {
	margin-top: 15px;
}

#mag-article p {
	display: inline;
	border-top: 10px;
}

span #mag-article {
	border-top: 10px;
}

.slick-prev:before,
.slick-next:before {
   color: rgb(156,172,86);
 }
.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.more-padding {
	padding-top: 40px;
}


.more-space {
	margin-top: 80px;
}


.hamburger {
 	display: none;
 	font-size: 20px;
 	font-family: 'Lato', sans-serif;
 	font-weight: bold;
 	padding-top: 20px;
 	padding-bottom: 10px;
 	text-align: center;
}


@media screen and (max-width: 899px) {
  .subpages span {
    display: none;
  }

  .subpages a {
 	display: block;
 	padding: 15px 0px;
 	font-size: 18px;
  }


  nav {
  	display: none;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
  }

  .hamburger {
  	display: block;
  }

  nav a {
  	border-bottom: 1px rgba(130, 130, 130, 0.3) solid;
  	justify-content: left;
  }

  h1 {
  	font-size: 20px;
  }

  .project {
	padding-bottom: 25px;
	padding-top: 25px;
}

 footer {
	margin-top: 25px;
	margin-bottom: 15px;
}

 .footer-logo {
	width: 50px;
}

 .profile-photo img {
	width: 60%;
}

 .map img {
	width: 100%;
}

}
