body {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background: linear-gradient(white 65%, rgba(156,172,86,.2) 100%);
	font-family: 'Source Sans Pro', sans-serif;

}

a:hover {
	color: rgb(156,172,86);
}


nav a {
	text-decoration: none;
	color: black;
	padding: 0px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

nav {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255,255,255,.7);
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#homepageNav {
	width: 70%;
	margin: 0 auto;
	/*position: absolute;*/
}


header {
	text-align: center;
}

#logo {
	width: 100px;
	padding-top: 20px;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
}

.mainPhoto img {
	/*overflow: hidden;*/
	width: 100%;
}

.mainPhoto {
	text-align: center;
	/*display: relative;*/

}

.pageTitle h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	position: relative;
	color: rgb(156,172,86);
}

.pageTitle h1:before {
    border-top: 2px solid rgb(156,172,86);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;


    
}

span {
    background: white;
	padding: 0px 15px;
    }




.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

p {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.projectPhotos {
	display: inline-flex;
	margin-bottom: 20px;
	margin-top: 10px;
}

.projectPhotos img {
	width: 50%;
	height: 50%;
	margin-top: 10px;
	margin-right: 5px;
}

.project {
	padding-bottom: 75px;
	padding-top: 50px;
	border-bottom: 1px solid rgb(207,207,207);
}

.about {
	color: rgb(156,172,86);
	text-decoration: underline;

}

.green {
	color: rgb(156,172,86);
}

.grey {
	color: rgb(130, 130, 130);
}

.pageTitle {
	margin-top: 50px;
	margin-bottom: 50px;
}




.profile-photo img {
	width: 30%;
}

.profile-photo , .map , .contact , .footer {
	text-align: center;
}


.about-text p {
	margin: 20px 0px;
}

.awards {
	padding-top: 20px;
}

.map img {
	width: 40%;
	position: relative;
	margin: 20px 0px;
}

footer p {
	color: rgb(178,178,178);
	font-size: 12px;
}

footer {
	text-align: center;
	border-top: 1px rgb(207,207,209) solid;
	padding-top: 25px;
	margin-top: 100px;
}

.footer-logo {
	width: 75px;
}

.hide {
	margin-top: 10px;
}

#mag-article p {
	display: inline;
	border-top: 10px;
}

span #mag-article {
	border-top: 10px;
}

div:last-child .project {
	border-bottom: 0px;
	padding-bottom: 0px;
}

div:first-child .project {
	padding-top: 0px;
}





