.converter {
	padding-bottom: 10px;
	display: inline-flex;
	justify-content: center;

}

body {
	text-align: center;
	width: 100%;
}

button {
	margin-bottom: 50px;
}

input {
	margin: 5px;
	font-size: 30px;
	width: 100px;
	text-align: center;
}

#enter-temp {
	margin: 50px 0px;
}